5_Symbols/Working with Variables/variables-workflow.json
{
    "nodes": [
      {
        "parameters": {
          "content": "- Store values\n\n- Using a set node\n\n- Using Json"
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1536,
          -64
        ],
        "id": "0df7f1da-f180-4016-8478-0419a793f1e7",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "# Working with Variables",
          "width": 896,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -864,
          -304
        ],
        "id": "a66dfb85-a3d7-4e7c-9e03-c7d63172c729",
        "name": "Sticky Note1"
      },
      {
        "parameters": {},
        "id": "f67cc31e-ebba-449d-9590-e077cd79e580",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -1552,
          160
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e012efd4-d054-4e76-aaf9-fe4df1d23e8f",
                "name": "myUser",
                "value": "Can",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "8f9b1145-12d5-4382-aee2-4877d660cbf3",
        "name": "Initialize Sample Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1312,
          160
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0b7f3977-60de-4f65-be9c-dc0f848d57e3",
                "name": "usersName",
                "value": "={{ $json.myUser }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "2e72e556-9fe3-496a-84ad-3cab5edd7750",
        "name": "Extract User Variables",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1088,
          160
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fd3fe59c-6f70-4419-a4d6-260538d1bfc3",
                "name": "username",
                "value": "={{ $json.usersName }}",
                "type": "string"
              },
              {
                "id": "fb59d86b-3da4-4daf-bd63-2f386e92c042",
                "name": "=usernameLength",
                "value": "={{ $json.usersName.length }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "b83ba404-2e7b-4b53-9643-a735afa5ea36",
        "name": "Create Summary Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -864,
          160
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4169bb52-b5ed-4fe1-ab23-4aa8239ca4a4",
                "name": "username",
                "value": "={{ $json.username }}",
                "type": "string"
              },
              {
                "id": "776e1976-388b-48e6-a9e2-cd97e48b4abf",
                "name": "resultComesFrom",
                "value": "={{ $json.resultComesFrom }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "2c1cad4e-d7e6-42b0-b756-01ee529f848c",
        "name": "Final Summary",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          160
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "condition1",
                "leftValue": "={{ $json.usernameLength }}",
                "rightValue": 3,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "20e88d9b-6447-4ac5-b699-542876d95e04",
        "name": "Check Lenght",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -576,
          160
        ]
      },
      {
        "parameters": {
          "content": "- Convert Types when required"
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -656,
          -16
        ],
        "id": "4dc04284-af5e-44e2-a919-705f81cbbf76",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "- Set the value at int\n- Shift left catch early"
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -944,
          -16
        ],
        "id": "a0c58aa0-f72e-4c0d-a4a5-be3bab0dc1d1",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4a21e7d4-1872-429e-8467-aa71f0682126",
                "name": "username",
                "value": "={{ $json.username }}",
                "type": "string"
              },
              {
                "id": "675af4a6-c174-4c90-9721-216c89a4e33d",
                "name": "resultComesFrom",
                "value": "Short UserName",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "a77fee3c-27bd-49d4-998a-25fe638b9ff1",
        "name": "Short UserName",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -160,
          256
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "26c6bb63-ddde-4670-9491-097024ed4b5a",
                "name": "username",
                "value": "={{ $json.username }}",
                "type": "string"
              },
              {
                "id": "bc575f82-7a4f-4d6c-afce-e4270f1da6db",
                "name": "resultComesFrom",
                "value": "Long UserName",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "230404c6-8e62-4a3c-bac0-e8b7f9839123",
        "name": "Long UserName",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -160,
          -16
        ]
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Initialize Sample Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Initialize Sample Data": {
        "main": [
          [
            {
              "node": "Extract User Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract User Variables": {
        "main": [
          [
            {
              "node": "Create Summary Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Summary Data": {
        "main": [
          [
            {
              "node": "Check Lenght",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Lenght": {
        "main": [
          [
            {
              "node": "Long UserName",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Short UserName",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Short UserName": {
        "main": [
          [
            {
              "node": "Final Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Long UserName": {
        "main": [
          [
            {
              "node": "Final Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "3df7c7c6cb7e0e978bf80ded11fce953795594ae8fe07b63ac449418b447c9e7"
    }
  }