5_Symbols/Working with Variables/variables-workflow.json
{
  "name": "Working with Variables - Demo Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "sample_data",
              "value": "={\n  \"users\": [\n    {\n      \"id\": 1,\n      \"firstName\": \"John\",\n      \"lastName\": \"Doe\",\n      \"email\": \"john@example.com\",\n      \"age\": 30,\n      \"active\": true,\n      \"orders\": [\n        {\"id\": 101, \"amount\": 99.99, \"status\": \"completed\"},\n        {\"id\": 102, \"amount\": 149.99, \"status\": \"pending\"}\n      ]\n    },\n    {\n      \"id\": 2,\n      \"firstName\": \"Jane\",\n      \"lastName\": \"Smith\",\n      \"email\": \"jane@example.com\",\n      \"age\": 25,\n      \"active\": true,\n      \"orders\": [\n        {\"id\": 201, \"amount\": 79.99, \"status\": \"completed\"}\n      ]\n    }\n  ]\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Initialize Sample Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "full_name",
              "value": "={{ $json.users[0].firstName + ' ' + $json.users[0].lastName }}"
            },
            {
              "name": "user_age",
              "value": "={{ $json.users[0].age }}"
            },
            {
              "name": "is_adult",
              "value": "={{ $json.users[0].age >= 18 ? 'Yes' : 'No' }}"
            }
          ],
          "number": [
            {
              "name": "total_orders",
              "value": "={{ $json.users[0].orders.length }}"
            },
            {
              "name": "total_spent",
              "value": "={{ $json.users[0].orders.reduce((sum, order) => sum + order.amount, 0) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Extract User Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "user_summary",
              "value": "={{ 'User: ' + $json.full_name + ', Age: ' + $json.user_age + ', Adult: ' + $json.is_adult + ', Orders: ' + $json.total_orders + ', Total Spent: $' + $json.total_spent }}"
            },
            {
              "name": "formatted_json",
              "value": "={{ JSON.stringify({\n  name: $json.full_name,\n  age: $json.user_age,\n  adult: $json.is_adult === 'Yes',\n  orderCount: $json.total_orders,\n  totalSpent: $json.total_spent,\n  averageOrder: $json.total_orders > 0 ? ($json.total_spent / $json.total_orders).toFixed(2) : 0\n}, null, 2) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Create Summary Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "filtered_users",
              "value": "={{ JSON.stringify($json.sample_data.users.filter(user => user.active), null, 2) }}"
            },
            {
              "name": "user_emails",
              "value": "={{ $json.sample_data.users.map(user => user.email).join(', ') }}"
            },
            {
              "name": "all_order_amounts",
              "value": "={{ JSON.stringify($json.sample_data.users.flatMap(user => user.orders.map(order => order.amount)), null, 2) }}"
            }
          ],
          "number": [
            {
              "name": "total_revenue",
              "value": "={{ $json.sample_data.users.reduce((userSum, user) => {\n  return userSum + user.orders.reduce((orderSum, order) => orderSum + order.amount, 0);\n}, 0) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456",
      "name": "Process All Users",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "environment_example",
              "value": "={{ $env.NODE_ENV || 'development' }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "workflow_id",
              "value": "={{ $workflow.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234567",
      "name": "System Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.total_revenue }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g7h8i9j0-k1l2-3456-ghij-789012345678",
      "name": "Check Revenue Threshold",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status_message",
              "value": "High revenue detected! Total: ${{ $json.total_revenue }}"
            },
            {
              "name": "alert_level",
              "value": "HIGH"
            }
          ]
        },
        "options": {}
      },
      "id": "h8i9j0k1-l2m3-4567-hijk-890123456789",
      "name": "High Revenue Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1780,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status_message",
              "value": "Revenue within normal range: ${{ $json.total_revenue }}"
            },
            {
              "name": "alert_level",
              "value": "NORMAL"
            }
          ]
        },
        "options": {}
      },
      "id": "i9j0k1l2-m3n4-5678-ijkl-901234567890",
      "name": "Normal Revenue Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "final_summary",
              "value": "={{ 'Workflow completed at ' + $json.timestamp + '\\n' +\n    'Alert Level: ' + $json.alert_level + '\\n' +\n    'Status: ' + $json.status_message + '\\n' +\n    'Environment: ' + $json.environment_example + '\\n' +\n    'Workflow ID: ' + $json.workflow_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "j0k1l2m3-n4o5-6789-jklm-012345678901",
      "name": "Final Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Initialize Sample Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Sample Data": {
      "main": [
        [
          {
            "node": "Extract User Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Variables": {
      "main": [
        [
          {
            "node": "Create Summary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary Data": {
      "main": [
        [
          {
            "node": "Process All Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process All Users": {
      "main": [
        [
          {
            "node": "System Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Variables": {
      "main": [
        [
          {
            "node": "Check Revenue Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Revenue Threshold": {
      "main": [
        [
          {
            "node": "High Revenue Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal Revenue Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Revenue Alert": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normal Revenue Status": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "1",
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "variables-demo",
      "name": "Variables Demo"
    }
  ]
}
