5_Symbols/Project-Automated-Discord/Slack Notifications/slack-notifications-workflow.json
{
  "name": "Slack Notifications Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "messageType",
              "value": "info"
            },
            {
              "name": "customMessage",
              "value": "Hello from n8n! This is a test notification sent at {{$now}}"
            },
            {
              "name": "channel",
              "value": "#general"
            },
            {
              "name": "username",
              "value": "n8n Bot"
            },
            {
              "name": "emoji",
              "value": ":robot_face:"
            }
          ]
        },
        "options": {}
      },
      "id": "set-defaults",
      "name": "Set Default Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{$json.messageType}}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-message-type",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "color",
              "value": "danger"
            },
            {
              "name": "icon",
              "value": ":x:"
            },
            {
              "name": "title",
              "value": "Error Notification"
            },
            {
              "name": "message",
              "value": "={{$json.customMessage}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-error-message",
      "name": "Set Error Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "color",
              "value": "good"
            },
            {
              "name": "icon",
              "value": ":white_check_mark:"
            },
            {
              "name": "title",
              "value": "Success Notification"
            },
            {
              "name": "message",
              "value": "={{$json.customMessage}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success-message",
      "name": "Set Success Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "postMessage",
        "channel": "={{$json.channel}}",
        "text": "={{$json.message}}",
        "attachments": [
          {
            "color": "={{$json.color}}",
            "fields": [
              {
                "title": "={{$json.title}}",
                "value": "={{$json.message}}",
                "short": false
              },
              {
                "title": "Timestamp",
                "value": "={{$now}}",
                "short": true
              },
              {
                "title": "Source",
                "value": "n8n Automation",
                "short": true
              }
            ],
            "footer": "n8n Workflow",
            "footer_icon": "https://n8n.io/favicon.ico",
            "ts": "={{Math.floor(Date.now() / 1000)}}"
          }
        ],
        "options": {
          "username": "={{$json.username}}",
          "icon_emoji": "={{$json.emoji}}"
        }
      },
      "id": "send-slack-message",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-api-credentials",
          "name": "Slack API Credentials"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "✅ Slack notification sent successfully!"
            },
            {
              "name": "messageType",
              "value": "={{$node['Set Default Values'].json.messageType}}"
            },
            {
              "name": "channel",
              "value": "={{$node['Set Default Values'].json.channel}}"
            },
            {
              "name": "timestamp",
              "value": "={{$now}}"
            },
            {
              "name": "slackResponse",
              "value": "={{$json.ok}}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-success-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "❌ Failed to send Slack notification"
            },
            {
              "name": "error",
              "value": "={{$json.error}}"
            },
            {
              "name": "timestamp",
              "value": "={{$now}}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-error-response",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "postMessage",
        "channel": "#alerts",
        "text": "🚨 n8n Workflow Error Alert",
        "attachments": [
          {
            "color": "danger",
            "fields": [
              {
                "title": "Workflow",
                "value": "Slack Notifications Workflow",
                "short": true
              },
              {
                "title": "Error",
                "value": "={{$json.error}}",
                "short": false
              },
              {
                "title": "Timestamp",
                "value": "={{$now}}",
                "short": true
              }
            ],
            "footer": "n8n Error Handler",
            "footer_icon": "https://n8n.io/favicon.ico",
            "ts": "={{Math.floor(Date.now() / 1000)}}"
          }
        ],
        "options": {
          "username": "n8n Error Bot",
          "icon_emoji": ":warning:"
        }
      },
      "id": "send-error-alert",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1780, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-api-credentials",
          "name": "Slack API Credentials"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Default Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Default Values": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Set Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Message": {
      "main": [
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Message": {
      "main": [
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Message": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": {
      "id": "error-handler",
      "name": "Slack Error Handler"
    }
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "slack-notifications"
  },
  "id": "slack-notifications",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "slack-notifications",
      "name": "Slack Notifications"
    }
  ]
}
