5_Symbols/Project - Automated Discord/Slack Notifications/discord-notifications-workflow.json
{
  "name": "Discord Notifications Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "messageType",
              "value": "info"
            },
            {
              "name": "customMessage",
              "value": "Hello from n8n! This is a test notification sent at {{$now}}"
            },
            {
              "name": "username",
              "value": "n8n Bot"
            },
            {
              "name": "avatarUrl",
              "value": "https://n8n.io/favicon.ico"
            }
          ]
        },
        "options": {}
      },
      "id": "set-defaults",
      "name": "Set Default Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{$json.messageType}}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-message-type",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "color",
              "value": "16711680"
            },
            {
              "name": "title",
              "value": "🚨 Error Notification"
            },
            {
              "name": "description",
              "value": "={{$json.customMessage}}"
            },
            {
              "name": "footer",
              "value": "Sent via n8n at {{$now}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-error-embed",
      "name": "Set Error Embed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "color",
              "value": "65280"
            },
            {
              "name": "title",
              "value": "✅ Success Notification"
            },
            {
              "name": "description",
              "value": "={{$json.customMessage}}"
            },
            {
              "name": "footer",
              "value": "Sent via n8n at {{$now}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success-embed",
      "name": "Set Success Embed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 400]
    },
    {
      "parameters": {
        "webhookUrl": "={{$credentials.discord.webhookUrl}}",
        "text": "={{$json.customMessage}}",
        "options": {
          "username": "={{$json.username}}",
          "avatarUrl": "={{$json.avatarUrl}}",
          "embeds": [
            {
              "color": "={{$json.color}}",
              "title": "={{$json.title}}",
              "description": "={{$json.description}}",
              "footer": {
                "text": "={{$json.footer}}"
              },
              "timestamp": "={{$now}}"
            }
          ]
        }
      },
      "id": "send-discord-webhook",
      "name": "Send Discord Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "discord": {
          "id": "discord-webhook-credentials",
          "name": "Discord Webhook Credentials"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "✅ Discord notification sent successfully!"
            },
            {
              "name": "messageType",
              "value": "={{$node['Set Default Values'].json.messageType}}"
            },
            {
              "name": "timestamp",
              "value": "={{$now}}"
            },
            {
              "name": "responseCode",
              "value": "={{$json.statusCode}}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-success-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "❌ Failed to send Discord notification"
            },
            {
              "name": "error",
              "value": "={{$json.error}}"
            },
            {
              "name": "timestamp",
              "value": "={{$now}}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-error-response",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1560, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Default Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Default Values": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Set Error Embed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Success Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Embed": {
      "main": [
        [
          {
            "node": "Send Discord Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Embed": {
      "main": [
        [
          {
            "node": "Send Discord Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Discord Webhook": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": {
      "id": "error-handler",
      "name": "Discord Error Handler"
    }
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "discord-notifications"
  },
  "id": "discord-notifications",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "discord-notifications",
      "name": "Discord Notifications"
    }
  ]
}
