5_Symbols/Understanding Credentials/credentials-demo-workflow.json
{
  "name": "Credentials Demo Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "test-credentials",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "credentials-demo-webhook"
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "test@example.com",
        "toEmail": "recipient@example.com",
        "subject": "Credentials Test Email",
        "message": "This email was sent using n8n credentials to demonstrate secure credential management.",
        "options": {}
      },
      "id": "email-send",
      "name": "Send Email (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/user",
        "options": {
          "headers": {
            "User-Agent": "n8n-credentials-demo"
          }
        }
      },
      "id": "github-api",
      "name": "GitHub API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "github-credentials",
          "name": "GitHub API Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "spreadsheet",
        "title": "Credentials Demo Results",
        "sheets": [
          {
            "name": "Results",
            "values": [
              ["Service", "Status", "Timestamp"],
              ["SMTP Email", "{{$json.success}}", "{{$now}}"],
              ["GitHub API", "{{$json.login}}", "{{$now}}"]
            ]
          }
        ]
      },
      "id": "google-sheets",
      "name": "Create Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-credentials",
          "name": "Google OAuth2 Credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "{{$json.error}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "message": "✅ All credentials are working correctly!\n\nServices tested:\n- SMTP Email: {{$node['Send Email (SMTP)'].json.success || 'Success'}}\n- GitHub API: {{$node['GitHub API Call'].json.login || 'Success'}}\n- Google Sheets: Sheet created successfully",
        "options": {}
      },
      "id": "success-notification",
      "name": "Success Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "message": "❌ Credential test failed!\n\nError: {{$json.error}}\nNode: {{$node.name}}",
        "options": {}
      },
      "id": "error-notification",
      "name": "Error Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Send Email (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (SMTP)": {
      "main": [
        [
          {
            "node": "GitHub API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub API Call": {
      "main": [
        [
          {
            "node": "Create Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Sheet": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "credentials-demo"
  },
  "id": "credentials-demo",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "credentials-demo",
      "name": "Credentials Demo"
    }
  ]
}
